/* ------ basic style ----- */
* {
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

.background {
  background-image: url("../images/banner/banner2.png");
  width: 1665px;
  height: 809px;
}

.header-info {
  direction: rtl;
  padding-left: 800px;
  padding-top: 200px;
  padding-right: 210px;
  padding-bottom: 400px;
}

.heading-style {
  font-weight: 700;
  font-size: 65px;
  margin-bottom: 10px;
}

.paragraph-style {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 18px;
}

.img {
  padding-left: 200px;
  padding-right: 200px;
}

.contact {
  background-color: #fd6e05;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.banner {
  display: flex;
  padding-left: 50px;
  padding-top: 250px;
  padding-right: 30px;
  padding-bottom: 250px;
}

.banner-details {
  padding-top: 300px;
  padding-right: 300px;
}

.banner-heading {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 10px;
}

.banner-paragraph {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 10px;
}

.banner-list {
  color: #444343;
}

.future-plan {
  padding: 100px 200px;
}

.plan-title {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 48px;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.footer-style {
  display: flex;
  background: #151414;
  padding: 150px 100px;
  justify-content: space-between;
}

.footer-heading {
  font-weight: bold;
  font-size: 45px;
  color: #f8f8f8;
}

.footer-paragraph1 {
  /* font-weight: 200; */
  font-size: 16px;
  width: 485px;
  height: 81.2px;
  color: #ffffff;
}

.footer-paragraph2 {
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 20px;
}

.footer-paragraph3 {
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 20px;
}

.another-icon {
  /* justify-content:right; */
}

.another-footer-heading {
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
  padding-bottom: 20px;
}

.input-style {
  width: 200px;
  height: 40px;
  background: none;
  border-radius: 5px;
  border: 1px solid white;
  color: #f3f3f3;
  padding: 10px;
  margin-bottom: 20px;
}

.button-style {
  font-weight: 700;

  color: #f15b22;
  width: 160px;
  height: 60px;
  border-radius: 8px;
}

.footer-image {
  margin-left: 10px;
}

.second-image {
  margin-bottom: 198px;
  margin-left:  360px;
  
  

}

.image-style {
    background-image: linear-gradient(to right, rgba(246, 134, 24, 0.8), rgba(66,66,66, 0.8)), url(../images/watch.png);
    width: 1000px;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.another-text-style {

    padding-left: 100px;
    padding-top: 70px;
    padding-right: 550px;
    padding-bottom: 50px;

}

.another-heading {
    font-weight: 700;
font-size: 40px;
color: #FFFFFF;
}

.another-button {
    background: #FFFFFF;
    border-radius: 5px;
    margin-top: 24px;
    border: 0px;
    padding: 15px 20px;
    font-weight: 700;
}
